{% extends "base.html" %}

{% block body %} 
<div class="container-fluid mp=0 mx=0 mb-2">
    <img src="/static/5.jpeg" class="d-block w-100" alt="...">
    <h1 class="h5 mb-1" style="left:0px;top: -180px;position: relative;background:white;">CONTACT US</h1>
</div>
<div class="container mb-3">
    <h1 class="text-center">Contact Us</h1>
    <form method="post" action="/contact">
        {% csrf_token %}
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="Enter your name">
        </div>

        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="Enter your email">
        </div>

        <div class="form-group">
            <label for="phone">phone number</label>
            <input type="phone" class="form-control" id="phone" name="phone" placeholder="Enter your phone number">
        </div>

        <div class="form-group">
            <label for="desc">Tell me about you</label>
            <br>
            <textarea name="desc" id="desc" rows="6" cols="100"></textarea>
        </div>
        <button class="btn btn-primary" type="submit">submit</button>
    </form>

</div>
{% endblock body %}